h1{
    text-decoration: underline ;
    color: blueviolet;
}
.form-bg{
    background-color: blueviolet;
}
.saylani-logo{
 width: 500px;
}
.ty{
    color: rgb(21, 255, 0);
}
.yf{
    color: blueviolet;
}